
<div class="sidebar-header" role="banner">
<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">Kenny Joseph</a>
    </h3>
</div>
<div id="bio" class="text-center">
	I study people with computers
</div>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/kennyjoseph">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="https://twitter.com/_kenny_joseph">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="mailto:josephkena@gmail.com">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
	</ul>
</div>
<!-- sidebar.html -->
<div class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="papers/headshot.jpg" class="img-circle" />
	</a>
	
</div>
<!-- sidebar.html end -->
